.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.clearfix {
    zoom: 1;
}

h1, h2, h3, h4, p {
    font-weight: normal;
    margin: 0;
}

div {
    display: block;
}

a {
    color: #333;
    text-decoration: none;
    outline: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

img {
    max-width: 100%;
    border: 0;
    vertical-align: middle;
}

ul, ol, li, dd, dt {
    margin: 0;
    list-style: none;
    padding: 0;
}

body {
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: "SIMHEI","Microsoft YaHei";
    font-size: 14px;
    color: #666;
}

.clearfix:after {
    content: "020";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


.c-logo {
    padding: 10px 0;
    margin-top: 0;
}

.com-1-2 {
    width: 50%!important;
}

.fl{
    float: left;
}

.dh {
    margin-right: 0px;
    margin-top: 15px;
    font-size: 16px;
}

.dh {
  
    font-style: italic;
    color: #3169BD;
    padding-left: 32px;
    font-weight: bold;
    font-family: "Arial";
    height: 40px;
    width: 100%;

}

.fr{
    float: right;
}
.dh span {
    width: 130px;
    background-size: 15%;
    display: block;
    text-align: right;
    background: url(../imgs/dh.png) no-repeat left center;
    float: right;
}


/* 中部1 */
.c-bigtitle {
    padding-top: 25px;
    padding-bottom: 15px;
    text-align: center;
}

.c-bigtitle>h1 {
    font-size: 24px;
    color: #333;
    padding-top: 10px;
}

/* 中部2开始 */

.gray{
    background: #f2f2f2;
    padding-top: 20px;
}

.c-bigtitle {
    padding-top: 25px;
    padding-bottom: 15px;
    text-align: center;
}

.yw1{
    background-image: none !important;
    padding: 35px 0;
    margin-top: 20px;
}

.yw1 .yw_son{
    background: #fff;
}

.yw_son{
    padding: 40px 30px 35px !important;
}

.com-1-1{
    width: 100% !important;
}

.yw1 .yw_son h3{
    background: url(../imgs/yw_ico1.png) no-repeat left center;
    padding-left: 40px;
}

.yw_son h3 {
    font-size: 18px !important;
    background-size: 12% !important;
}

.yw1 .yw_son h3 span {
    border-bottom: 2px solid #2F69BD;
}

.yw_son p {
    font-size: 14px;
    margin: 20px 0;
    line-height: 24px;
}

.more {
    text-align: center;
}

.yw1 .yw_son .more a {
    background: linear-gradient(to right, #2F69BD, #2F69BD) no-repeat;
    background-size: 0% 100%;
    color: #2F69BD;
}

.more a{
    transition: all .5s;
    display: inline-block;
    border: 1px solid #2F69BD;
    padding: 5px 25px;
    border-radius: 15px;
}


.yw1, .yw2, .yw3, .yw4 {
    background-image: none !important;
    padding: 35px 0;
}

.yw2 .yw_son {
    background: #3169BD;
    padding: 55px 30px 45px;
    width: 30%;
    float: right;
    color: #fff;
}

.yw2 .yw_son h3 {
    font-size: 24px;
    color: #fff;
    background: url(../imgs/yw_ico2.png) no-repeat left center;
    padding-left: 40px;
}

.yw_son h3 {
    font-size: 18px !important;
    background-size: 12% !important;
}

.yw2 .yw_son .more a {
    border-color: #fff;
    color: #fff;
    background: linear-gradient(to right, #fff, #fff) no-repeat;
    background-size: 0% 100%;
}

.yw3 .yw_son {
    background: #fff;
    padding: 55px 30px 45px;
    width: 30%;
}

.yw3 .yw_son h3 {
    font-size: 24px;
    background: url(../imgs/yw_ico3.png) no-repeat left center;
    padding-left: 40px;
}

.yw3 .yw_son h3 span {
    border-bottom: 2px solid #2F69BD;
}

.yw4 {
    color: #fff;
}

.yw4 .yw_son {
    background: #3169BD;
    padding: 55px 30px 45px;
    width: 30%;
    float: right;
}

.yw4 .yw_son h3 {
    font-size: 24px;
    color: #fff;
    background: url(../imgs/yw_ico4.png) no-repeat left center;
    padding-left: 40px;
}

.yw4 .yw_son h3 span {
    border-bottom: 2px solid #fff;
}

.yw4 .yw_son .more a {
    border-color: #fff;
    color: #fff;
    background: linear-gradient(to right, #fff, #fff) no-repeat;
    background-size: 0% 100%;
}


/* 中部3开始 */
.blue {
    background: #D7E2F1;
}

.about_wz {
    width: 100%;
    padding: 20px 0;
    float: left;
    -webkit-box-sizing: border-box;
}

.sl {
    background: #356AB9;
    padding: 35px 35px;
    color: #fff;
}

.sl p {
    font-size: 16px;
    line-height: 30px;
}

.sl .more {
    margin-top: 20px;
}

.sl .more a {
    border-color: #fff;
    color: #fff;
    background: linear-gradient(to right, #fff, #fff) no-repeat;
    background-size: 0% 100%;
}

.about_video{
    width: 100%;
    float: right;
}

/* 尾部开始 */

.link {
    padding-bottom: 30px;
}


.footer {
    background: #356AB9;
    padding: 15px 0;
    margin-top: 30px;
}

.footer li.dh_f {
    display: none;
}

.footer li {
    width: 36%;
    border-right: 0;
    height: 120px;
}

.footer li {
    padding: 0 14px;
}

.footer li {
    float: left;
    margin-bottom: 15px;
    margin-top: 20px; 
    -webkit-box-sizing: border-box;
}

.footer li.dh_f p {
    color: #fff;
    font-style: italic;
    font-family: "Arial";
    font-size: 22px;
    font-weight: bold;
    margin-top: 20px;
}

.footer li dt {
    font-size: 16px;
    margin: 10px 0;
    color: #fff;
}

.footer li dd a {
    color: #fff;
    background: url(../imgs/zj.png) no-repeat left center;
    padding-left: 15px;
}

.footer li dd {
    line-height: 24px;
}

.footer li dt {
    font-size: 16px;
    margin: 10px 0;
    color: #fff;
}

.footer li dd {
    line-height: 24px;
}

.footer li:nth-child(3), .footer li:nth-child(5) {
    width: 64%;
}

.c-footer-info {
    background-color: #356AB9;
    border-top: 1px solid #5B87C5;
    padding: 22px 0;
    text-align: center;
    color: #a3bfe7;
    font-size: 12px;
}

.actGotop {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 60px;
    height: 60px;
    z-index: 9;
}





.find{
    height: 93.75px;
    width: 93.75px;
    border-radius: 50%;
    right: 5px;
    top: 50%;
    left: auto;
    bottom: auto;
    transform: translateY(-50%);
    position: fixed;
    background:url(../imgs/module-bg-0.png) #00aef3 center center no-repeat;
    background-size: 50px;
}




#cssmenu #menu-button {
    display: block;
    padding: 16px;
}

#cssmenu #menu-button {
    
    color: #000000;
    cursor: pointer;
    font-size: 12px;
    text-transform: uppercase;
    outline: none;
    width: 12%;
    margin-left: 88%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
   
}

#cssmenu #menu-button::before {
    content: '';
    position: absolute;
    top: 49px;
    right: 20px;
    display: block;
    width: 15px;
    height: 7px;
    border-top: 2px solid #000000;
    border-bottom: 2px solid #000000;
    outline: none;
}

#cssmenu #menu-button::after {
    content: '';
    position: absolute;
    top: 45px;
    right: 20px;
    display: block;
    width: 20px;
    height: 2px;
    background: #000000;
    outline: none;
}





  

